# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Build files
dist/
build/
*.spec

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Databases
*.sqlite
*.db

# Local configs
.env
.env.*

# Cache
.cache/

# local auth
configs/cookie.json
data/auth.json